# General
.DS_Store
.AppleDouble
.LSOvveride

# Icon
Icon^M

# Thumbnails
._*

# Files
.Document-Revisions-V100
.fseventsd
.spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk